@using Question_5.Models
@model IEnumerable<FileSystemViewModel>

<div class="row">
    <h3>File Search</h3>

    <div class="form-inline">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.TextBox("criteria",ViewData["criteria"], new { @class = "form-control mr-1" })
            <button class="btn btn-primary" type="submit">Search</button>
        }
        
    </div>

    <hr />

    <div class="w3-padding w3-white notranslate">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>File Id</th>
                    <th>Full Path</th>
                    <th>File Name</th>
                    <th>Read Only</th>
                    <th>Size</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (FileSystemViewModel item in Model)
                    {
                        <tr>
                            <td>@item.FileId</td>
                            <td>@item.FullPath</td>
                            <td><a href="@item.FullPath">@item.FileName</a></td>
                            <td>@item.ReadOnlyString</td>
                            <td>@item.SizeString</td>
                            <td>@item.DateCreatedString</td>
                        </tr>
                    }
                } 
            </tbody>
        </table>
    </div>
</div>